.body{
  background-color: black;
  background: #000;
}
.header {
  padding: 15px;
  text-align: center;
  background: black;
  color: white;
  font-size: 15px;
}
a {
  display: inline;
}
a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}




 a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  width:auto;
}
 a:hover {
  background-color: #111;
}

footer{
  margin: 0;
text-align:center;
width:auto;
height:150px;
background-color:#000;
border:#000 inset medium;
}

image{
  background-color: #000;
}

.homepageimage{
 width:200px ;height: auto;
 flex-direction: column;
}
.texta{
  flex-direction:row,
}